
body{
    background-color: white ;
    background-size: cover;   
     
}
header {
    height: 10vh;
    line-height: 10vh;
    padding: 0 20px;
}
.copyright {
    padding-top: 5px;
    text-align: center;
}
h2{
    background-color: rgb(162, 155, 170);
    text-align: center;
    color: rgb(21, 21, 116);
}
h1{
    background-color: khaki;
    text-align: center;
    color: red;
}
span{
    text-align: center;
}
.logo{
    margin-left: 630px;
}